* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  height: 70px;
  background-color: #EC715F;
}

.logo{
  height: 70px;
}

ul{
  width: 1024px;
  height: 70px;
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
}

ul > :first-child {
  margin-right: auto;
}

.nav_item{
  line-height: 70px;
  list-style: none; 
  float: right;
  font-size: 16px;
  margin: 0 30px;
}

a{
  text-decoration: none;
  color: #FAFAFA;
}

.main_visual{
  height: 650px;
  width: 100%;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: 0px -60px;
  text-align: center;
}

.main_visual_text1{
  font-size: 64px;
  color: #FAFAFA;
  padding-top: 200px ;
}

.main_visual_text2{
  font-size: 20px;
  color: #FAFAFA;
  padding-top: 10px;
}


footer{
  height: 60px;
  background-color: #EC715F;
  text-align: center;
}

.footer_text{
  line-height: 70px;
  color: #FAFAFA;
  font-size: 16px;
}