* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  height: 70px;
  background-color: #EC715F;
}

.logo{
  height: 70px;
}

ul{
  width: 1024px;
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
}

ul > :first-child {
  margin-right: auto;
}

.nav_item{
  line-height: 70px;
  list-style: none; 
  float: right;
  font-size: 16px;
  margin: 0 30px;
}

a{
  text-decoration: none;
  color: #FAFAFA;
}

footer{
  height: 60px;
  background-color: #EC715F;
  text-align: center;
}

.footer_text{
  line-height: 70px;
  color: #FAFAFA;
  font-size: 16px;
}