* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  height: 70px;
  background-color: #EC715F;
}

.logo{
  height: 70px;
}

ul{
  width: 1024px;
  height: 70px;
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
}

ul > :first-child{
  margin-right: auto;
}

.nav_item{
  line-height: 70px;
  list-style: none; 
  float: right;
  font-size: 16px;
  margin: 0 30px;
}

a{
  text-decoration: none;
  color: #FAFAFA;
}

#main_visual{
  height: 650px;
  width: 100%;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: 0px -60px;
  text-align: center;
}

.main_visual_text1{
  font-size: 64px;
  color: #FAFAFA;
  padding-top: 200px ;
}

.main_visual_text2{
  font-size: 20px;
  color: #FAFAFA;
  padding-top: 10px;
}

#portfolio,
#profile{
  background-color: #ECEFF1;
  text-align: center;
  padding: 90px 0;
}

.portfolio_text, 
.portfolio_item{
  width: 920px;
  margin: 0 auto;
}

.portfolio_text1,
.feature_text1,
.profile_text1,
.contact_text1{
  font-size: 32px;
  color: black;
  padding-bottom: 8px;
  position: relative;
}

.portfolio_text1::after, 
.feature_text1::after,
.profile_text1::after,
.contact_text1::after{
	content: '';
  position: absolute;
  display: inline-block;
	left: 50%;
  transform: translateX(-50%);
  bottom: -3px;
	width: 70px;
	height: 3px;
	background-color: #EC715F;
}

.portfolio_text2,
.feature_text2,
.profile_text2,
.contact_text2{
  font-size: 16px;
  color: black;
  padding: 30px 0;
}

.portfolio_item{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.portfolio_item > div{
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
}

.portfolio_item > div:nth-child(-n+2){
  margin: 0 10px 10px 0;
}

.portfolio_item > div:nth-child(3){
  margin: 0 0 10px 0;
}

.portfolio_item > div:nth-child(4), :nth-child(5){
  margin: 0 10px 0 0;
}

.portfolio_item1{
  background-image: url(img/sketch.jpg);
}

.portfolio_item2{
  background-image: url(img/websuku.png);
}

.portfolio_item3{
  background-image: url(img/write.jpg);
}

.portfolio_item4{
  background-image: url(img/webcamp.png);
}

.portfolio_item5{
  background-image: url(img/talk.jpg);
}

.portfolio_item6{
  background-image: url(img/webcamp-mother.png);
}

#feature{
  width: 980px;
  margin: 0 auto;
  text-align: center;
  padding: 90px 0;
}

.feature_item{
  display: flex;
  justify-content: center;
}

.feature_item > div{
  width: 320px;
  height: auto;
}

.feature_item > div:nth-child(2){
  margin: 0 10px;
}

.feature_item_text1{
  font-size: 20px;
  color: #000000;
  padding: 10px 0;
}

.feature_item_text2{
  text-align: left;
  font-size: 16px;
  color: #000000;
}

.feature_item_box > i{
  font-size: 60px;
}

.profile_text{
  width: 1024px;
  margin: 0 auto;
}

.profile_item{
  width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.profile_item_box1,
.profile_item_box2{
  width: 512px;
}

.profile_item_box1 > img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.profile_item_box2{
  text-align: left;
}

.profile_item_box_text1,
.profile_item_box_text3,
.contact_item_box_text1{
  font-size: 20px;
  color: #000000;
  padding-bottom: 5px;
}

.profile_item_box_text3{
  padding-top: 20px;
}

#contact{
  width: 800px;
  margin: 0 auto;
  padding: 90px 0;
}

.contact_text{
  text-align: center;
}

.contact_item{
  display: flex;
  justify-content: center;
}

.contact_item_box{
  width: 400px;
  padding-left: 130px;
  text-align: left;
}

.contact_item_boxt_text2{
  font-size: 16px;
  margin-bottom: 20px;
}

.contact_item_box > i{
  font-size: 50px;
  margin-right: 20px;
}

footer{
  height: 60px;
  background-color: #EC715F;
  text-align: center;
}

.footer_text{
  line-height: 70px;
  color: #FAFAFA;
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  header{
    height: 50px;
  }

  ul{
    width: 90%;
    margin: 0 auto;
  }

  .logo{
    height: 50px;
  }

  #main_visual{
    height: 650px;
    width: 100%;
    background-image: url(img/code.png);
    background-size: auto 650px;
    background-position: center;
  }

  .main_visual_text1{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: 40px;
  }
  
  .main_visual_text2{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
  }

  .portfolio_text, 
  .portfolio_item{
    width: 90%;
    margin: 0 auto;
  }

  .portfolio_item{
    display: block;
    width: 90%;
  }

  .portfolio_item > div:nth-child(odd){
    height: 0;
    margin: 0;
  }

  .portfolio_item > div:nth-child(even){
    margin: 0 auto 10px auto;
  }

  .portfolio_item > div:nth-child(6){
    margin-bottom: 0;
  }


}